# Ensure text files have LF line endings in the repository
* text=auto


# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Specify LF for specific file types
*.sh text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
